.nav-bar {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  background-color: lightblue;
}

.movie-button {
  font-size: 32px;
}

.profile-button {
  text-align: right;
}

.logout-button {
  text-align: right;
}

.right-buttons {
  float: right;
}
